@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@300;700&family=Poor+Story&display=swap");

.Calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 70%;
  width: 70%;
  border: 1px solid black;
  border-radius: 3px;
}

.Calculator > button {
  background-color: #70b3ff;
  font-family: "Open Sans", sans-serif;
  font-size: 130%;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 1px;
}

#title {
  font-family: "Lato", sans-serif;
  font-size: 170%;
}

#reset {
  font-size: 160%;
}

#seven,
#eight,
#nine,
#four,
#five,
#six,
#one,
#two,
#three,
#zero,
#point {
  background-color: #94cefe;
}

body.dark > .Calculator > button {
  background-color: lightslategray;
}

.dark > .Calculator > #seven,
.dark > .Calculator > #eight,
.dark > .Calculator > #nine,
.dark > .Calculator > #four,
.dark > .Calculator > #five,
.dark > .Calculator > #six,
.dark > .Calculator > #seven,
.dark > .Calculator > #one,
.dark > .Calculator > #two,
.dark > .Calculator > #three,
.dark > .Calculator > #zero,
.dark > .Calculator > #POINT {
  background-color: orange;
}

.Calculator > button:hover {
  border: 3px solid white;
  color: white;
}

.Calculator > button:active {
  border: 3px solid yellow;
  color: yellow;
}

#title:hover,
#title:active,
#empty:hover,
#empty:active {
  color: black;
  border: 1px solid black;
}

#result {
  background-color: lightyellow;
  border: 4px solid black;
}

#api > img {
  height: 70%;
}

.Calculator > button > img {
  height: 50%;
  width: 50%;
}
#info {
  grid-row-start: 1;
  grid-column-start: 1;
}

#title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 5;
}

#settings {
  grid-row-start: 1;
  grid-column-start: 5;
}

#light {
  grid-row-start: 2;
  grid-column-start: 1;
}

#result {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 5;
}

#erase {
  grid-row-start: 2;
  grid-column-start: 5;
}

#history {
  grid-row-start: 3;
  grid-column-start: 1;
}

#reset {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}

#diff {
  grid-row-start: 3;
  grid-column-start: 5;
}

#scientific {
  grid-row-start: 4;
  grid-column-start: 1;
}

#seven {
  grid-row-start: 4;
  grid-column-start: 2;
}

#eight {
  grid-row-start: 4;
  grid-column-start: 3;
}

#nine {
  grid-row-start: 4;
  grid-column-start: 4;
}

#mul {
  grid-row-start: 4;
  grid-column-start: 5;
}

#api {
  grid-row-start: 5;
  grid-column-start: 1;
}

#four {
  grid-row-start: 5;
  grid-column-start: 2;
}

#five {
  grid-row-start: 5;
  grid-column-start: 3;
}

#six {
  grid-row-start: 5;
  grid-column-start: 4;
}

#sub {
  grid-row-start: 5;
  grid-column-start: 5;
}

#empty {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 1;
}

#one {
  grid-row-start: 6;
  grid-column-start: 2;
}

#two {
  grid-row-start: 6;
  grid-column-start: 3;
}

#three {
  grid-row-start: 6;
  grid-column-start: 4;
}

#add {
  grid-row-start: 6;
  grid-column-start: 5;
}

#pm {
  grid-row-start: 7;
  grid-column-start: 2;
}

#zero {
  grid-row-start: 7;
  grid-column-start: 3;
}

#point {
  grid-column-start: 4;
  grid-row-start: 7;
}

#eval {
  grid-column-start: 5;
  grid-row-start: 7;
}
