@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@300;700&family=Poor+Story&display=swap");

body {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1.5fr;
  grid-template-areas: "history calculator scientific";
  font-family: "Lato", sans-serif;
}

.Calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border: 1px solid black;
  border-radius: 4px;
  grid-area: "calculator";
  overflow: auto;

  button,
  div {
    background-color: lightgrey;
    font-size: 130%;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1px;
    font-family: "Lato", sans-serif;

    img {
      height: 60%;
      width: 60%;
    }
  }

  button:hover {
    border: 2px solid #007bff;
    border-radius: 2px;
  }

  button:active {
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 2px;
  }

  .digits {
    background-color: #94cefe7a;
  }

  #title > p {
    font-size: 150%;
    text-align: center;
    align-self: center;
    margin: 5%;
  }

  #reset {
    font-size: 160%;
  }

  #title:hover,
  #title:active,
  #empty:hover,
  #empty:active {
    color: black;
    border: 1px solid black;
  }

  #result,
  #result:hover,
  #result:active {
    background-color: lightyellow;
    border: 4px solid black;
    color: black;
  }

  #api > img {
    height: 70%;
  }

  #info {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #settings {
    grid-row-start: 1;
    grid-column-start: 5;
    a {
      height: 100%;
      width: 100%;
    }
  }

  #light {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  #result {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #erase {
    grid-row-start: 2;
    grid-column-start: 5;
  }

  #history {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  #reset {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #diff {
    grid-row-start: 3;
    grid-column-start: 5;
  }

  #scientific {
    grid-row-start: 4;
    grid-column-start: 1;
  }

  #seven {
    grid-row-start: 4;
    grid-column-start: 2;
  }

  #eight {
    grid-row-start: 4;
    grid-column-start: 3;
  }

  #nine {
    grid-row-start: 4;
    grid-column-start: 4;
  }

  #mul {
    grid-row-start: 4;
    grid-column-start: 5;
  }

  #api {
    grid-row-start: 5;
    grid-column-start: 1;
  }

  #four {
    grid-row-start: 5;
    grid-column-start: 2;
  }

  #five {
    grid-row-start: 5;
    grid-column-start: 3;
  }

  #six {
    grid-row-start: 5;
    grid-column-start: 4;
  }

  #sub {
    grid-row-start: 5;
    grid-column-start: 5;
  }

  #empty {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
  }

  #one {
    grid-row-start: 6;
    grid-column-start: 2;
  }

  #two {
    grid-row-start: 6;
    grid-column-start: 3;
  }

  #three {
    grid-row-start: 6;
    grid-column-start: 4;
  }

  #add {
    grid-row-start: 6;
    grid-column-start: 5;
  }

  #pm {
    grid-row-start: 7;
    grid-column-start: 2;
  }

  #zero {
    grid-row-start: 7;
    grid-column-start: 3;
  }

  #point {
    grid-column-start: 4;
    grid-row-start: 7;
  }

  #eval {
    grid-column-start: 5;
    grid-row-start: 7;
  }
}

.dark {
  .Calculator {
    button {
      background-color: lightslategray;

      &:hover {
        border: 2px solid #007bff;
        border-radius: 2px;
      }

      &:active {
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 2px;
      }
    }

    .digits {
      background-color: orange;
    }
  }

  .Scientific {
    background-color: gray;

    button,
    div {
      background-color: gray;
    }
  }

  .History {
    background-color: gray;
  }
}

.Scientific {
  grid-area: "scientific";
  background-color: rgb(4, 255, 171);
  border: 1px solid black;
  border-radius: 2px;
  visibility: hidden;
  overflow-y: auto;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 1fr);

  #scientific_title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;
    text-align: center;

    p {
      font-size: 130%;
      font-weight: bold;
      margin-top: 5%;
    }
  }

  #power_2 {
    grid-row-start: 4;
    grid-column-start: 1;
  }

  #root_2 {
    grid-row-start: 4;
    grid-column-start: 2;
  }

  #power {
    grid-row-start: 5;
    grid-column-start: 1;
  }

  #root {
    grid-row-start: 5;
    grid-column-start: 2;
  }

  #mod {
    grid-row-start: 6;
    grid-column-start: 1;
  }

  #pai {
    grid-row-start: 6;
    grid-column-start: 2;
  }

  #base_2 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #empty_scientific {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  button,
  div {
    height: 100%;
    width: 100%;
    background-color: rgb(4, 255, 171);
    border: 1px solid black;
    border-radius: 1px;
    font-size: 140%;

    img {
      height: 60%;
      width: 35%;
    }
  }

  button {
    &:hover {
      border: 2px solid #007bff;
      border-radius: 2px;
    }

    &:active {
      background-color: #007bff;
      border: 2px solid #007bff;
      border-radius: 2px;
    }
  }
}

.History {
  grid-area: "history";
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  border-radius: 2px;
  visibility: hidden;
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "history_title history_list";
  align-content: center;
  justify-content: center;
  overflow-y: auto;

  #history_title {
    grid-area: "history_title";
    border-bottom: 1px solid black;
    width: 250px;
    align-items: center;
    text-align: center;
    p {
      font-weight: bold;
      margin: 7.5%;
      font-size: 150%;
    }
  }

  div {
    grid-area: "history_list";
  }
}

#info_text {
  p {
    font-size: 30%;
  }
}
