@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Open+Sans:wght@300;700&family=Poor+Story&display=swap");

body {
  height: 100vh;
  width: 100vh;
  margin: 0;
  padding: 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-areas: "history calculator scientific";
}

.Calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border: 1px solid black;
  border-radius: 4px;
  grid-area: "calculator";

  button {
    background-color: lightgrey;
    font-family: "Open Sans", sans-serif;
    font-size: 130%;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1px;

    img {
      height: 60%;
      width: 60%;
    }
  }

  button:hover {
    border: 3px solid white;
    color: white;
  }

  button:active {
    border: 3px solid yellow;
    color: yellow;
  }

  .digits {
    background-color: #94cefe7a;
  }

  #title {
    font-family: "Lato", sans-serif;
    font-size: 170%;
  }

  #reset {
    font-size: 160%;
  }

  #title:hover,
  #title:active,
  #empty:hover,
  #empty:active {
    color: black;
    border: 1px solid black;
  }

  #result,
  #result:hover,
  #result:active {
    background-color: lightyellow;
    border: 4px solid black;
    color: black;
  }

  #api > img {
    height: 70%;
  }

  #info {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  #title {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #settings {
    grid-row-start: 1;
    grid-column-start: 5;
  }

  #light {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  #result {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #erase {
    grid-row-start: 2;
    grid-column-start: 5;
  }

  #history {
    grid-row-start: 3;
    grid-column-start: 1;
  }

  #reset {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 5;
  }

  #diff {
    grid-row-start: 3;
    grid-column-start: 5;
  }

  #scientific {
    grid-row-start: 4;
    grid-column-start: 1;
  }

  #seven {
    grid-row-start: 4;
    grid-column-start: 2;
  }

  #eight {
    grid-row-start: 4;
    grid-column-start: 3;
  }

  #nine {
    grid-row-start: 4;
    grid-column-start: 4;
  }

  #mul {
    grid-row-start: 4;
    grid-column-start: 5;
  }

  #api {
    grid-row-start: 5;
    grid-column-start: 1;
  }

  #four {
    grid-row-start: 5;
    grid-column-start: 2;
  }

  #five {
    grid-row-start: 5;
    grid-column-start: 3;
  }

  #six {
    grid-row-start: 5;
    grid-column-start: 4;
  }

  #sub {
    grid-row-start: 5;
    grid-column-start: 5;
  }

  #empty {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 1;
  }

  #one {
    grid-row-start: 6;
    grid-column-start: 2;
  }

  #two {
    grid-row-start: 6;
    grid-column-start: 3;
  }

  #three {
    grid-row-start: 6;
    grid-column-start: 4;
  }

  #add {
    grid-row-start: 6;
    grid-column-start: 5;
  }

  #pm {
    grid-row-start: 7;
    grid-column-start: 2;
  }

  #zero {
    grid-row-start: 7;
    grid-column-start: 3;
  }

  #point {
    grid-column-start: 4;
    grid-row-start: 7;
  }

  #eval {
    grid-column-start: 5;
    grid-row-start: 7;
  }
}

body.dark > .Calculator {
  button {
    background-color: lightslategray;
  }

  .digits {
    background-color: orange;
  }
}

.Scientific {
  grid-area: "scientific";
  background-color: rgb(4, 255, 171);
  border: 1px solid black;
  border-radius: 2px;
  visibility: hidden;
}

.History {
  grid-area: "history";
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  border-radius: 2px;
  visibility: hidden;
}
